annotated-types==0.7.0
anyio==4.9.0
click==8.1.8
colorama==0.4.6
fastapi==0.115.12
h11==0.14.0
idna==3.10
networkx
numpy
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
scipy
matplotlib
